.vs/
src/Employees.Api/bin
src/Employees.Api/obj
src/Employees.Application/bin
src/Employees.Application/obj
src/Employees.Domain/bin
src/Employees.Domain/obj
src/Employees.Infrastructure/bin
src/Employees.Infrastructure/obj

test/Employees.Application.Tests/obj
test/Employees.Application.Tests/bin