.vs/

Employees.Api/bin
Employees.Api/obj
Employees.Application/bin
Employees.Application/obj
Employees.Domain/bin
Employees.Domain/obj
Employees.Infrastructure/bin
Employees.Infrastructure/obj

Employees.Application.Tests/obj
Employees.Application.Tests/bin
